@charset "UTF-8";
@font-face {
	font-family: "less35platform";
	src: url("less35platform.eot");
	src: url("less35platform.eot?#iefix") format("embedded-opentype"),  url("less35platform.woff") format("woff"),  url("less35platform.ttf") format("truetype"),  url("less35platform.svg#less35platform") format("svg");
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: "less35platform" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "less35platform" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-align-center:before {
	content: "a";
}
.icon-align-justify:before {
	content: "b";
}
.icon-align-justify-1:before {
	content: "c";
}
.icon-align-left:before {
	content: "d";
}
.icon-align-right:before {
	content: "e";
}
.icon-angle-double-down:before {
	content: "f";
}
.icon-angle-double-left:before {
	content: "g";
}
.icon-angle-double-right:before {
	content: "h";
}
.icon-angle-double-up:before {
	content: "i";
}
.icon-angle-down:before {
	content: "j";
}
.icon-angle-left:before {
	content: "k";
}
.icon-angle-right:before {
	content: "l";
}
.icon-angle-up:before {
	content: "m";
}
.icon-apple:before {
	content: "n";
}
.icon-archive:before {
	content: "o";
}
.icon-arrow-circle-down:before {
	content: "p";
}
.icon-arrow-circle-down-line:before {
	content: "q";
}
.icon-arrow-circle-left:before {
	content: "r";
}
.icon-arrow-circle-right:before {
	content: "s";
}
.icon-arrow-circle-up:before {
	content: "t";
}
.icon-arrow-circle-up-line:before {
	content: "u";
}
.icon-asterisk:before {
	content: "v";
}
.icon-bar-chart:before {
	content: "w";
}
.icon-barcode:before {
	content: "x";
}
.icon-bell:before {
	content: "y";
}
.icon-bell-two:before {
	content: "z";
}
.icon-bitbucket:before {
	content: "A";
}
.icon-book:before {
	content: "B";
}
.icon-bookmark:before {
	content: "C";
}
.icon-briefcase-case:before {
	content: "D";
}
.icon-briefcase-case-two:before {
	content: "E";
}
.icon-bug:before {
	content: "F";
}
.icon-building:before {
	content: "G";
}
.icon-bullhorn:before {
	content: "H";
}
.icon-bullseye:before {
	content: "I";
}
.icon-calendar:before {
	content: "J";
}
.icon-calendar-1:before {
	content: "K";
}
.icon-call-phone:before {
	content: "L";
}
.icon-call-phone-square:before {
	content: "M";
}
.icon-camera:before {
	content: "N";
}
.icon-caret-down:before {
	content: "O";
}
.icon-caret-down-two:before {
	content: "P";
}
.icon-caret-left:before {
	content: "Q";
}
.icon-caret-right:before {
	content: "R";
}
.icon-caret-up:before {
	content: "S";
}
.icon-caret-up-down:before {
	content: "T";
}
.icon-caret-up-two:before {
	content: "U";
}
.icon-chat-bubble:before {
	content: "V";
}
.icon-chat-bubble-two:before {
	content: "W";
}
.icon-check-mark:before {
	content: "X";
}
.icon-check-mark-2:before {
	content: "Y";
}
.icon-check-mark-circle:before {
	content: "Z";
}
.icon-check-mark-circle-two:before {
	content: "0";
}
.icon-check-square:before {
	content: "1";
}
.icon-chevron-down:before {
	content: "2";
}
.icon-chevron-down-circle:before {
	content: "3";
}
.icon-chevron-left:before {
	content: "4";
}
.icon-chevron-right:before {
	content: "5";
}
.icon-chevron-up:before {
	content: "6";
}
.icon-chevron-up-circle:before {
	content: "7";
}
.icon-circle:before {
	content: "8";
}
.icon-circle-line:before {
	content: "9";
}
.icon-clipboard:before {
	content: "!";
}
.icon-clock:before {
	content: "\"";
}
.icon-close-delete:before {
	content: "#";
}
.icon-cloud:before {
	content: "$";
}
.icon-cloud-download:before {
	content: "%";
}
.icon-cloud-upload:before {
	content: "&";
}
.icon-code:before {
	content: "'";
}
.icon-cog-gear:before {
	content: "(";
}
.icon-columns:before {
	content: ")";
}
.icon-compass:before {
	content: "*";
}
.icon-contrast:before {
	content: "+";
}
.icon-credit-card:before {
	content: ",";
}
.icon-crop:before {
	content: "-";
}
.icon-crosshair-aim:before {
	content: ".";
}
.icon-css3:before {
	content: "/";
}
.icon-cup:before {
	content: ":";
}
.icon-cursor-move:before {
	content: ";";
}
.icon-cursor-move-two:before {
	content: "<";
}
.icon-cut-scissor:before {
	content: "=";
}
.icon-delete-circle:before {
	content: ">";
}
.icon-denied-block:before {
	content: "?";
}
.icon-dislike:before {
	content: "@";
}
.icon-document:before {
	content: "[";
}
.icon-dollar:before {
	content: "]";
}
.icon-download:before {
	content: "^";
}
.icon-dribble:before {
	content: "_";
}
.icon-dropbox:before {
	content: "`";
}
.icon-earser:before {
	content: "{";
}
.icon-edit-write:before {
	content: "|";
}
.icon-ellipsis:before {
	content: "}";
}
.icon-ellipsis-2:before {
	content: "~";
}
.icon-email-envelope:before {
	content: "\\";
}
.icon-euro:before {
	content: "\e000";
}
.icon-exchange:before {
	content: "\e001";
}
.icon-exclamation:before {
	content: "\e002";
}
.icon-exclamation-circle:before {
	content: "\e003";
}
.icon-exclamation-triangle:before {
	content: "\e004";
}
.icon-external-link:before {
	content: "\e005";
}
.icon-external-link-sqaure:before {
	content: "\e006";
}
.icon-eye:before {
	content: "\e007";
}
.icon-eye-slash-close:before {
	content: "\e008";
}
.icon-facebook:before {
	content: "\e009";
}
.icon-facebook-square:before {
	content: "\e00a";
}
.icon-female:before {
	content: "\e00b";
}
.icon-fighter-jet:before {
	content: "\e00c";
}
.icon-file:before {
	content: "\e00d";
}
.icon-file-document:before {
	content: "\e00e";
}
.icon-file-text:before {
	content: "\e00f";
}
.icon-files:before {
	content: "\e010";
}
.icon-filmstrip:before {
	content: "\e011";
}
.icon-filter:before {
	content: "\e012";
}
.icon-fire:before {
	content: "\e013";
}
.icon-flag:before {
	content: "\e014";
}
.icon-flag-1:before {
	content: "\e015";
}
.icon-flash:before {
	content: "\e016";
}
.icon-flickr:before {
	content: "\e017";
}
.icon-folder:before {
	content: "\e018";
}
.icon-folder2:before {
	content: "\e019";
}
.icon-folder3:before {
	content: "\e01a";
}
.icon-folder-open:before {
	content: "\e01b";
}
.icon-font:before {
	content: "\e01c";
}
.icon-fontawesome-webfont:before {
	content: "\e01d";
}
.icon-foursquare:before {
	content: "\e01e";
}
.icon-gears-setting:before {
	content: "\e01f";
}
.icon-github:before {
	content: "\e020";
}
.icon-github-square:before {
	content: "\e021";
}
.icon-gittip:before {
	content: "\e022";
}
.icon-globe-world:before {
	content: "\e023";
}
.icon-google-plus:before {
	content: "\e024";
}
.icon-google-plus-1:before {
	content: "\e025";
}
.icon-group:before {
	content: "\e026";
}
.icon-harddrive:before {
	content: "\e027";
}
.icon-headphone:before {
	content: "\e028";
}
.icon-heart:before {
	content: "\e029";
}
.icon-heart-empty:before {
	content: "\e02a";
}
.icon-home:before {
	content: "\e02b";
}
.icon-hospital:before {
	content: "\e02c";
}
.icon-hospital-square:before {
	content: "\e02d";
}
.icon-html5:before {
	content: "\e02e";
}
.icon-indent:before {
	content: "\e02f";
}
.icon-information:before {
	content: "\e030";
}
.icon-information-circle:before {
	content: "\e031";
}
.icon-instagram:before {
	content: "\e032";
}
.icon-laptop:before {
	content: "\e033";
}
.icon-leaf:before {
	content: "\e034";
}
.icon-left-circle:before {
	content: "\e035";
}
.icon-legal:before {
	content: "\e036";
}
.icon-letter-mail:before {
	content: "\e037";
}
.icon-level-down:before {
	content: "\e038";
}
.icon-level-up:before {
	content: "\e039";
}
.icon-lightbulb:before {
	content: "\e03a";
}
.icon-like:before {
	content: "\e03b";
}
.icon-like-filled:before {
	content: "\e03c";
}
.icon-link:before {
	content: "\e03d";
}
.icon-link-broken:before {
	content: "\e03e";
}
.icon-linkedin:before {
	content: "\e03f";
}
.icon-linkedin-square:before {
	content: "\e040";
}
.icon-linux:before {
	content: "\e041";
}
.icon-list:before {
	content: "\e042";
}
.icon-list-2:before {
	content: "\e043";
}
.icon-list-bullet:before {
	content: "\e044";
}
.icon-list-number:before {
	content: "\e045";
}
.icon-location-arrow:before {
	content: "\e046";
}
.icon-lock:before {
	content: "\e047";
}
.icon-log-in:before {
	content: "\e048";
}
.icon-log-out:before {
	content: "\e049";
}
.icon-magic-wand:before {
	content: "\e04a";
}
.icon-magnet:before {
	content: "\e04b";
}
.icon-mail-forward:before {
	content: "\e04c";
}
.icon-male:before {
	content: "\e04d";
}
.icon-maxcdn:before {
	content: "\e04e";
}
.icon-mic:before {
	content: "\e04f";
}
.icon-mic-no:before {
	content: "\e050";
}
.icon-minus:before {
	content: "\e051";
}
.icon-minus-circle:before {
	content: "\e052";
}
.icon-minus-line:before {
	content: "\e053";
}
.icon-minus-square:before {
	content: "\e054";
}
.icon-minus-square-1:before {
	content: "\e055";
}
.icon-money-banknote:before {
	content: "\e056";
}
.icon-music-note:before {
	content: "\e057";
}
.icon-outdent:before {
	content: "\e058";
}
.icon-paper-clip:before {
	content: "\e059";
}
.icon-pencil:before {
	content: "\e05a";
}
.icon-pencil-square:before {
	content: "\e05b";
}
.icon-phone-mobile:before {
	content: "\e05c";
}
.icon-photo:before {
	content: "\e05d";
}
.icon-pin-map:before {
	content: "\e05e";
}
.icon-pin-map-2:before {
	content: "\e05f";
}
.icon-pinterest:before {
	content: "\e060";
}
.icon-pinterest-square:before {
	content: "\e061";
}
.icon-plane-airport:before {
	content: "\e062";
}
.icon-plus:before {
	content: "\e063";
}
.icon-plus-circle:before {
	content: "\e064";
}
.icon-plus-square:before {
	content: "\e065";
}
.icon-pound:before {
	content: "\e066";
}
.icon-power-off:before {
	content: "\e067";
}
.icon-present-gift:before {
	content: "\e068";
}
.icon-prize-award:before {
	content: "\e069";
}
.icon-ptint:before {
	content: "\e06a";
}
.icon-puzzle:before {
	content: "\e06b";
}
.icon-qrcode:before {
	content: "\e06c";
}
.icon-question:before {
	content: "\e06d";
}
.icon-question-1:before {
	content: "\e06e";
}
.icon-quote-left:before {
	content: "\e06f";
}
.icon-quote-right:before {
	content: "\e070";
}
.icon-random:before {
	content: "\e071";
}
.icon-refresh:before {
	content: "\e072";
}
.icon-remove:before {
	content: "\e073";
}
.icon-repeat-redo:before {
	content: "\e074";
}
.icon-reply-all:before {
	content: "\e075";
}
.icon-reply-mail:before {
	content: "\e076";
}
.icon-resize-down:before {
	content: "\e077";
}
.icon-resize-expand:before {
	content: "\e078";
}
.icon-retweet:before {
	content: "\e079";
}
.icon-right:before {
	content: "\e07a";
}
.icon-road:before {
	content: "\e07b";
}
.icon-rss:before {
	content: "\e07c";
}
.icon-rss-two:before {
	content: "\e07d";
}
.icon-save-disk:before {
	content: "\e07e";
}
.icon-screen-desktop:before {
	content: "\e07f";
}
.icon-search-find:before {
	content: "\e080";
}
.icon-share-square:before {
	content: "\e081";
}
.icon-share-square-1:before {
	content: "\e082";
}
.icon-shield:before {
	content: "\e083";
}
.icon-shopping-cart:before {
	content: "\e084";
}
.icon-signal:before {
	content: "\e085";
}
.icon-sitemap:before {
	content: "\e086";
}
.icon-skype:before {
	content: "\e087";
}
.icon-smile:before {
	content: "\e088";
}
.icon-smiley-frown:before {
	content: "\e089";
}
.icon-smiley-meh:before {
	content: "\e08a";
}
.icon-sort-alpha:before {
	content: "\e08b";
}
.icon-sort-alpha-two:before {
	content: "\e08c";
}
.icon-sort-amount:before {
	content: "\e08d";
}
.icon-sort-amount-two:before {
	content: "\e08e";
}
.icon-sort-numeric:before {
	content: "\e08f";
}
.icon-sort-numeric-two:before {
	content: "\e090";
}
.icon-spinner:before {
	content: "\e091";
}
.icon-square:before {
	content: "\e092";
}
.icon-square-line:before {
	content: "\e093";
}
.icon-stackoverflow:before {
	content: "\e094";
}
.icon-star:before {
	content: "\e095";
}
.icon-star-half:before {
	content: "\e096";
}
.icon-star-half-1:before {
	content: "\e097";
}
.icon-star-two:before {
	content: "\e098";
}
.icon-stop:before {
	content: "\e099";
}
.icon-sun:before {
	content: "\e09a";
}
.icon-table:before {
	content: "\e09b";
}
.icon-tablet:before {
	content: "\e09c";
}
.icon-tachometer:before {
	content: "\e09d";
}
.icon-tag:before {
	content: "\e09e";
}
.icon-tag-2:before {
	content: "\e09f";
}
.icon-tags:before {
	content: "\e0a0";
}
.icon-talk-chat:before {
	content: "\e0a1";
}
.icon-tasks:before {
	content: "\e0a2";
}
.icon-terminal:before {
	content: "\e0a3";
}
.icon-text-height:before {
	content: "\e0a4";
}
.icon-text-width:before {
	content: "\e0a5";
}
.icon-thumbnails:before {
	content: "\e0a6";
}
.icon-thumbnails-large:before {
	content: "\e0a7";
}
.icon-ticket:before {
	content: "\e0a8";
}
.icon-tint:before {
	content: "\e0a9";
}
.icon-trash-bin:before {
	content: "\e0aa";
}
.icon-trello:before {
	content: "\e0ab";
}
.icon-twitter:before {
	content: "\e0ac";
}
.icon-twitter-square:before {
	content: "\e0ad";
}
.icon-umbrella:before {
	content: "\e0ae";
}
.icon-underline:before {
	content: "\e0af";
}
.icon-undo:before {
	content: "\e0b0";
}
.icon-unlike:before {
	content: "\e0b1";
}
.icon-unlock:before {
	content: "\e0b2";
}
.icon-unlock-2:before {
	content: "\e0b3";
}
.icon-upload:before {
	content: "\e0b4";
}
.icon-user:before {
	content: "\e0b5";
}
.icon-volume-down:before {
	content: "\e0b8";
}
.icon-volume-down-1:before {
	content: "\e0b9";
}
.icon-volume-up:before {
	content: "\e0ba";
}
.icon-weibo:before {
	content: "\e0bb";
}
.icon-window-list:before {
	content: "\e0bc";
}
.icon-windows:before {
	content: "\e0bd";
}
.icon-won:before {
	content: "\e0be";
}
.icon-wrench:before {
	content: "\e0bf";
}
.icon-youtube-square:before {
	content: "\e0c3";
}
.icon-yen:before {
	content: "\e0c6";
}
.icon-zoom-in:before {
	content: "\e0c0";
}
.icon-zoom-out:before {
	content: "\e0c1";
}
